@font-face{
    font-family: "Sanchez-Regular";
    src: url("Fonts/Sanchez-Regular.ttf");
}
@font-face{
    font-family: "Merriweather";
    src: url("Fonts/Merriweather-Light.ttf");
}
@font-face{
    font-family: "Source Serif";
    src: url("Fonts/SourceSerifPro-Bold.ttf");
}
body{
    background-color: rgb(247, 248, 250);
}
.saylani_main{
    width: 1349px;
    height: 500px;
    margin: -25px 0px 0px -8px;
}
.marquee_background{
    height: 54px;
    width: 1347px;
    margin: -5px 0px 0px -8px;
    background-color: white;
}
.marquee{
    font-size: 14px;
    background-color: #316dc3;
    color: white;
    margin: 12px 105px 0px 100px;
    padding: 6px;
}
.marquee .one{
    color: greenyellow;
}
.marquee .two a{
    text-decoration: none;
    cursor: pointer;
    color: blue;
}
.intro{
    background-color: rgb(247, 248, 250);
    margin: -16px -8px 0px -8px;
    height: 250px;
}
.intro img{
    position: relative;
    left: 593px;
    width: 160px;
    top: 34px;
}
.main_heading{
    position: relative;
    top: 57px;
    text-align: center;
    font-family: Sanchez-Regular;
    font-weight: bold;
    color: rgb(66, 121, 0);
}
.main_heading span{
    font-family: Sanchez-Regular;
    color: rgb(49, 109, 195);
}
.main_para_div{
    margin-left: 190px;
    margin-right: 190px;
    position: relative;
    top: -106px;
}
.main_para{
    line-height: 26px;
    color: rgb(112, 112, 112);
    font-size: 14px;
    text-align: justify;
    font-family: "Open Sans";
    padding: 5px;
}
.statistics_strip{
    height: 313px;
    margin: -30px -8px 0px -8px;
    background-color: rgb(39, 85, 233);
}
.food{
    position: relative;
    top: 72px;
    left: 211px;
}
.food_amount{
    font-family: "Merriweather";
    color: white;
    font-size: 48px;
    position: absolute;
    top: 1470px;
    left: 145px;
}
.food_line{
    font-family: "Source Serif";
    color: white;
    position: absolute;
    top: 1560px;
    left: 106px;
}
.food_line span{
    font-family: "Source Serif";
    color: rgb(0, 255, 0);
    font-size: 20px;
}
.family{
    position: relative;
    top: 71px;
    left: 449px;   
}
.family_amount{
    font-family: "Merriweather";
    color: white;
    font-size: 48px;
    position: absolute;
    top: 1470px;
    left: 460px;
}
.family_line{
    font-family: "Source Serif";
    color: white;
    position: absolute;
    top: 1560px;
    left: 405px;   
}
.family_line span{
    font-family: "Source Serif";
    color: rgb(0, 255, 0);
    font-size: 20px;
}
.health{
    position: relative;
    top: 74px;
    left: 687px;
}
.health_amount{
    font-family: "Merriweather";
    color: white;
    font-size: 48px;
    position: absolute;
    top: 1470px;
    left: 740px;
}
.health_line{
    font-family: "Source Serif";
    color: white;
    position: absolute;
    top: 1560px;
    left: 730px;
}
.health_line span{
    font-family: "Source Serif";
    color: rgb(0, 255, 0);
    font-size: 20px;
}
.education{
    position: relative;
    top: 73px;
    left: 927px;
}
.education_amount{
    font-family: "Merriweather";
    color: white;
    font-size: 48px;
    position: absolute;
    top: 1470px;
    left: 1020px;
}
.education_line{
    font-family: "Source Serif";
    color: white;
    position: absolute;
    top: 1560px;
    left: 1010px;
}
.education_line span{
    font-family: "Source Serif";
    color: rgb(0, 255, 0);
    font-size: 20px;
}